*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}
h1{
    color: orange;
    font-size: 40px;
    margin-bottom: 0.5rem;
}
.hinh{
    height: 20rem;
    width: 100%;
    object-fit: fit;
}
main{
    max-width: 900px;
    margin: 0 auto;
}
nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.nav bar{
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 1.5em;
}
.nav-items{
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items li{
    margin-left: 2em;
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    color: hotpink;
}
ul{
    list-style: none;
    display: flex;
}
  
li{
    margin-right: 1rem;
    font-size: 20px;
}
ul li{
    list-style: none;
}
.cach{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem ;
}
.khung{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr)); 
    grid-gap: 50px; 
    padding: 0.2rem 0;
}
.a{
    height: 26rem;
    width: 25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}
.chu{
    display: grid;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
}
.do{
    color: aliceblue;
    border-radius: 20px;
    background: chocolate;
    margin: auto;
    padding: 0.2rem 1rem;
    text-align: center;
    place-items: center;
}
